p {
    color: #000000;
  }
.intro {
    font-size: 100 px;
  }

@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/** ---------------------- GENERAL ---------------------- **/

html {
  min-height: 100%;
}

body {
  background: linear-gradient(to top, #e6e3e3, #87CEFA);
  color: #555555;
  font-size: 2em;
  font-family: "Quicksand";
  background-attachment: fixed;
}

.playerbutton {
  margin-top: 5rem;
  font-family: "Garamond";
}

/** ---------------------- NAVBAR ---------------------- **/

.navbar {
  z-index: 1;
  background: #050505;
  border-image: linear-gradient(
    to right,
    #000000,
    #2e3030,
    #434341,
    #60615f,
    #8d918f,
    #b4b9ba,
    #e5e1e6,
    #ffffff
  );
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 5px solid;
  border-image-slice: 1;
  width: 100%;
  height: 6.2em;
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.nav-item {
  margin-left: 2em;
  vertical-align: bottom;
}

.nav-link {
  font-family: "Garamond";
  font-size: 3vw;
  font-weight: bold;
  color: #87CEFA;
  text-shadow: 1px 1px 1px #e6e6e6;
  letter-spacing: 0.15em;
  margin-top: 0.5em;
}

.nav-link:hover {
  color: #aaaaaa;
}

img.logo {
  max-height: 7vw;
}

.todo {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  border-width: 2px;
  border-style: solid;
}

.grey-border { border-color: #cac9c9;}
.red-border { border-color: #fe9f9f;}
.orange-border { border-color: #fec79f;}
.yellow-border { border-color: #fadf94;}
.green-border {border-color: #befe9f;}
.blue-border {border-color: #9fedfe;}
.purple-border {border-color: #cfa3df;}
.pink-border {border-color: #fe9fe9;}

.checked {
  background-color: lime;
  opacity: 0.2;
}